<table>
  <thead>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of cart">
    <td><img [src]="product.img" alt="{{ product.name }}" width="20" /></td>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>
      <button (click)="decrement(product)">-</button>
      {{ product.quantity }}
      <button (click)="increment(product)">+</button>
    </td>
    <td>{{ product.price }}</td>
    <td><button (click)="remove(product)">Remove</button></td>
  </tr>
  </tbody>
</table>
