header,
.buttonh,
.logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}

header {
  background-color: antiquewhite;
  border-bottom: 2px solid ;
  height: 60px;
  position: sticky;
  top: 0px;
  user-select: none;
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: auto;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.buttonh {
  gap: 16px;
  text-decoration: none;
}

.logo {
  width: 162px;
  height: 70px;
}



